<!------ Design-Quelle https://bootsnipp.com/snippets/qrO6B ---------->
<div class="content container-fluid bootstrap">
    <div class="row row-broken">
        <div class="col-sm-12 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
            <div class="col-inside-lg decor-default">
                <div class="chat-body">
                    <script src="/assets/js/jquery.min.js" ></script>
                    <script src="/assets/js/chatReload.js" type="text/javascript" charset="utf-8"></script>
                    <script>
                        $(document).ready(waitForMsg);
                    </script>
                    <div class="chat-messages" id="chat-messages"></div>
                    <div class="answer-add">
                        <input placeholder="Geben Sie eine Nachricht ein">
                        <span class="answer-btn answer-btn-2"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>