    <!------ Design-Quelle https://bootsnipp.com/snippets/qrO6B ---------->
    <div class="content container-fluid bootstrap">
        <div class="row row-broken">
            <div class="col-sm-12 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
                <div class="col-inside-lg decor-default">
                    <div class="chat-body">
                        <div class="chat-messages" id="chat-messages"></div>
                        <div class="answer-add">
                            <input placeholder="Geben Sie eine Nachricht ein" id="chat-field">
                            <span class="answer-btn answer-btn-2">
                                <input type="button" id="btn-send-chat" value="submit">
                                <input type="file" id="select-file-input">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>