<div id="choice-connection-container" class = "container"> 
    <div class = "row id-header-2 pad-top">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class = "display1"> Wählen Sie eine Aktion:<h1>
        </div>
    </div>
    <div class="row slight-pad-top">
        <button id="to_create_room" type="button" class="btn btn-landing btn-lg btn-block">Raum erstellen</button>
    </div>
    <div class="row card-view-pad-top">
        <button  id="join_room" type="button" class="btn btn-landing btn-lg btn-block">Raum beitreten</button>
    </div>
    <div class="row card-view-pad-top">
        <button  id="settings" type="button" class="btn btn-landing btn-lg btn-block">Einstellungen</button>
    </div>
</div>