<div id="settings_container" class = "container" style="display: none"> 
    <div class = "row id-header-2 pad-top">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class = "display1"> Legen Sie einen STUN- und TURN-Server fest! <h1>
        </div>
    </div>
        <div class="form-group">
            <label for="name">STUN-Server</label>
            <input type="text" class="form-control" name="stun_server" id="stun_server" placeholder="Bitte geben Sie die Adresse ein!" required>
        </div>
        <div class="form-group">
            <label for="ip">TURN-Server</label>
            <input type="text" class="form-control" name="turn_server" id="turn_server" placeholder="Bitte geben Sie die Adresse ein! (optional)">
        </div>
        <button id="save_settings" type="submit" class="btn btn-small btn-landing">Bestätigen</button>
</div>